[project]
	description = Code for the cloud application developed on Google App engine as part of the Cloud module I undertook at the University Of Kent 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jb574
[access "refs/for/refs/*"]
	read = group user/jb574
	push = group user/jb574
	label-Code-Review = -2..+2 group user/jb574
	label-Verified = -1..+1 group user/jb574
	rebase = group user/jb574
	removeReviewer = group user/jb574
	submit = group user/jb574
[access "refs/heads/*"]
	read = group user/jb574
	create = group user/jb574
	push = +force group user/jb574
	pushMerge = group user/jb574
[access "refs/tags/*"]
	push = group user/jb574
	push = +force group user/jb574
