html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding: 0 0 15px 0;
	background: url('../img/bg-hd.jpg') fixed no-repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: #fff;
}

.container {
	background-color: #eee;
	border-radius: 12px;
	margin-top: 12px;
	padding-bottom: 30px;
}

h1 {
	text-align: center;
	font-size: 80px !important;
	text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white, 1px -1px 0px white;
}

h2 {
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	color: white !important;
}

/*the slider background*/
.slider {
width:230px;
height:11px;
background:url(../img/slider-bg.png);
position:relative;
margin:0;
padding:0 10px;
}
 
/*Style for the slider button*/
.ui-slider-handle {
width:41px!important;
height:31px!important;
position:absolute;
top:-7px;
margin-left:-12px;
z-index:200;
width: 22px !important;
height: 22px !important;
border-radius: 22px;
background: #5A5A5A!important;
}
 
/*Result div where the slider value is displayed*/
.quantity-indicator {
font-size:30px;
height:20px;
font-family:Arial, Helvetica, sans-serif;
color:#fff;
width:250px;
text-align:left;
text-shadow:0 1px 1px #000;
font-weight:600;

}
 
/*This is the fill bar colour*/
.ui-widget-header {
background:url(../img/fill.png) no-repeat left;
height:8px;
left:1px;
top:1px;
position:absolute;
}
 
a {
outline:none;
-moz-outline-style:none;
}

h2{
font-family: "Lucida Grande", Tahoma;
font-size: 40px;
font-weight: lighter;
font-variant: normal;
text-transform: uppercase;
color: #666666;
margin-top: 10px;
text-align: center!important;
letter-spacing: 0.15em;
}

h3{
font-family: "Lucida Grande", Tahoma;
font-size: 25px;
font-weight: lighter;
font-variant: normal;
text-transform: uppercase;
color: #666666;
margin-top: 10px;
text-align: center!important;
letter-spacing: 0.1em;
}

h4{
font-family: "Lucida Grande", Tahoma;
font-size: 20px;
font-weight: lighter;
font-variant: normal;
text-transform: uppercase;
color: #666666;
margin-top: 10px;
text-align: left!important;
letter-spacing: 0.05em;
}

.recipe-tile {
	width: 200px;
	height: 200px;
	background-color: #dedede;
	margin: 5px;
	float: left;
	box-shadow: 2px 2px 1px #888888;
	font-color: #2a2a2a;
	list-style-type: none;
	diplay: inline-block;
	overflow: hidden;
}

.recipe-tile .recipe-title-holder {
	height: 60px;
}

.recipe-tile a {
	text-decoration: none;
}

.recipe-tile h3.recipe-title {
	padding: 2px;
	margin: 0;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
	color: #080808;
}

.recipe-tile .recipe-picture {
	background-color: rgb(191, 191, 191);
	height: 130px;
	width: inherit;
	overflow: hidden;
}

.recipe-tile .recipe-picture img {
	width: inherit;
	height: inherit;
}

.recipe-tile .recipe-picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    width: 200px;
}

.recipe-list-title {
	margin-bottom: 20px;
}

.recipe-tile-list ul {
	/* padding-left: 35px;*/
}

#picture-choice {
	margin-top: 20px;
}
